<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2016 Álvaro Orduna León
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.ordunaleon.lumios">

    <permission
        android:name="io.ordunaleon.lumios.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="io.ordunaleon.lumios.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.DrawerActivity"
            android:theme="@style/AppTheme.WithDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.DrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DrawerActivity"/>
        </activity>

        <!-- GcmReceiver: handles messages sent from Lumios web server. -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="io.ordunaleon.lumios.gcm"/>
            </intent-filter>
        </receiver>

        <!-- GcmListenerService: enables various aspects of handling messages. -->
        <service
            android:name=".service.LumiosGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <!-- InstanceIDListenerService: handle the creation, rotation, and updating of registration tokens. -->
        <service
            android:name=".service.LumiosInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <!-- LumiosRegistrationIntentService: register the device -->
        <service
            android:name=".service.LumiosRegistrationIntentService"
            android:exported="false"/>

        <!-- LumiosDownloadService: download data -->
        <service
            android:name=".service.LumiosDownloadService"
            android:exported="false"/>

        <provider
            android:name=".data.LumiosProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

    </application>

</manifest>
